{% extends "base.html" %}
{% from "_form_helper.html" import render_field %}
{% from "partials.html" import login_signup_partial %}
{% from "partials.html" import shorten_url_partial %}
{% from "partials.html" import discover_url_partial %}
    {% block content %}
        <h3> URL Shortener </h3>
        {% if current_user.is_authenticated %}
            <p>Hello {{ current_user.username }} check your past urls at <a href="{{ url_for('user_view', username=current_user.username) }}">your profile.</a></p>
            <form method="POST" action="{{ url_for('logout_view') }}">
                <input type="submit" value="Logout">
            </form>
        {% else %}
            {{ login_signup_partial(signup_form) }}
        {% endif %}
        {{ shorten_url_partial(url_form) }}
        {{ discover_url_partial(url_form) }}
    {% endblock %}
