{% from "_form_helper.html" import render_field %}

{% macro login_signup_partial(signup_form) %}
    <form method="POST" action="{{ url_for('signup_login_view') }}">
        {{ signup_form.csrf_token }}
        {{ render_field(signup_form.username) }}
        {{ render_field(signup_form.password) }}
        <input type="submit" value="Log in">
    </form>
{% endmacro %}

{% macro shorten_url_partial(url_form) %}
    <form method="POST" action="{{ url_for('shorten_url_view') }}">
        {{ url_form.csrf_token }}
        {{ render_field(url_form.input_url) }}
        {{ render_field(url_form.short_url) }}
        <input type="submit" value="Shorten">
    </form>
{% endmacro %}

{% macro discover_url_partial(url_form) %}
    <form method="POST" action="{{ url_for('discover_url_view') }}">
        {{ url_form.csrf_token }}
        {{ render_field(url_form.input_url) }}
        <input type="submit" value="Discover real URL">
    </form>
{% endmacro %}
